body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: 'Poppins', sans-serif;
}

/* GLASS BOX */
.box {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 360px;
    text-align: center;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.2);

    box-shadow: 0 8px 32px rgba(0,0,0,0.2);

    animation: fadeIn 0.8s ease-in-out;
}

/* TEXT */
.box h2 {
    color: white;
}

.box p {
    color: #eee;
}

/* BUTTONS */
.box button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;

    border: none;
    border-radius: 10px;

    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;
}

.box button:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #ff7eb3, #ff758c);
}

/* INPUT */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 8px;
    border: none;
}

/* QUIZ OPTIONS */
.option {
    display: block;
    text-align: left;
    background: #ffffff20;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.option input {
    margin-right: 10px;
}

/* TABLE */
table {
    width: 100%;
    background: white;
    border-radius: 10px;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
