body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    margin: 0;
}

/* Card Box */
.box {
    width: 380px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: fadeIn 0.8s ease;
    
}

/* Heading */
h2, h3 {
    color: #333;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
}

/* Inputs */
input, select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Progress bar */
.progress {
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar {
    height: 20px;
    background: #28a745;
    color: white;
    text-align: center;
}

/* Timer */
#timer {
    font-weight: bold;
    color: red;
}

/* Animation */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}
.option {
    display: block;
    text-align: left;
    background: #f9f9f9;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.option input {
    margin-right: 10px;
    transform: scale(1.2);
}
